@font-face {
    font-family: "Supply";
    src: url("supply.woff2");
    font-weight: 100 800;
    unicode-range: U+0020-007E, U+00A0-00A9, U+00AB-00AC, U+00AE-00B1,
        U+00B4, U+00B6-00B8, U+00BB, U+00BF-00EF, U+00F1-0107, U+010A-0113,
        U+0116-011B, U+011E-0123, U+0126-0127, U+012A-012B, U+012E-0131,
        U+0136-0137, U+0139-013E, U+0141-0148, U+014A-014D, U+0150-015B,
        U+015E-0167, U+016A-016B, U+016E-017E, U+0218-021B, U+02C6-02C7,
        U+02D8-02DD, U+0300-0304, U+0306-0308, U+030A-030C, U+0312,
        U+0326-0328, U+0335-0338, U+1E80-1E85, U+1EF2-1EF3, U+2013-2014,
        U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A,
        U+2044, U+20AC, U+2122, U+2190-2199, U+2202, U+2205, U+220F,
        U+2211-2212, U+221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265,
        U+25CA;
}

html, body{
  height: 100%;
  margin: 0;
}

body {
  background: #242424;
  margin: 0;
  touch-action: manipulation;
  user-select: none;
}

* {
  transition: all 0.2s;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  margin-inline:1rem;
}

footer {
  color: #fff;
  text-align: center;
  padding: 1rem;
  font-family: "Supply";
}

footer a {

  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  gap: 1rem;
  max-width: 60rem;
  width: 100%;
  margin: 2.5rem auto 0;
}

.grid button {
  width: 100%;
  height:5rem;
  box-sizing: border-box;
  padding-block-start: 0.5rem;
  padding-block-end: 1rem;
  padding-inline: 0.5rem;
  font-size: 1.1rem;
  font-family: "Supply";
  font-weight: 500;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  border: 2px solid black;
  background-image: radial-gradient(100% 100% at 100% 0, #e5633e 0, #cf4116 100%);  color: #fff;
  border-radius: 0.7rem;
  box-shadow: 0 .5ch .6ch rgba(0, 0, 0, 0.5), inset 0 -0.7rem 0 rgba(145, 47, 2, 0.9);
  cursor: pointer;
}

/* .grid button:hover,
.grid button:active,
.grid button.active {
  height:4rem;
  margin-block-start: 1rem;
  padding-block-start: 0.5rem;
  padding-block-end: 0.7rem;
  padding-inline: 0.5rem;
  background-image: radial-gradient(100% 100% at 100% 0, #0206ff 0, #ec821e 100%);  color: #ffffff;
  box-shadow: 0 .1ch .2ch rgb(26, 26, 26), inset 0 -0.3rem 0 rgba(255, 255, 255, 0.9);
} */

button.pressed {
  height:4rem;
  margin-block-start: 1rem;
  padding-block-end: 0.7rem;
  background-image: radial-gradient(100% 100% at 100% 0, #ffd902 0, #ec821e 100%);  color: #ffffff;
  box-shadow: 0 .5ch .6ch rgba(0, 0, 0, 0.5), inset 0 -0.3rem 0 rgba(145, 47, 2, 0.9);
}

/* animations */

/* JSR Spin */
@keyframes spinButton {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: 
    spinButton 0.6s ease;
}

/* Maxwell animation */

@keyframes maxwellStart {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(30deg);
  }
}

@keyframes maxwellLoop {
  0% {
    transform: rotate(30deg);
  }
  15% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  65% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(30deg);
  }
}

.animate-maxwell-loop {
  animation: 
    maxwellStart 0.22s ease forwards,
    maxwellLoop 0.895s 0.22s ease infinite;
}

/* Cats Speed animation */

@keyframes catsSpeedStart {
  from {
    translate: 0 0;
  }
  to {
    translate: 0 -1rem;
  }
}

@keyframes catsSpeedLoop {
  0% {
    translate: 0 -1rem;
  }
  12% {
    translate: 0 0rem;
  }
  50% {
    translate: 0 -1rem;
  }
  62% {
  translate: 0 0rem;
  }
  100% {
    translate: 0 -1rem;
  }
}

.animate-cats-speed-loop {
  animation:
    catsSpeedStart 0.48s ease forwards,
    catsSpeedLoop 0.965s 0.48s ease infinite;
}

/* Distorted Cat */
/* @keyframes distorted-cat {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(6turn);
  }
}

.animate-distorted-cat-loop {
  animation: distorted-cat 11.25s ease infinite;
} */

/* OOIIAA Fast */
@keyframes ooiiaa-spin-fast {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(6turn);
  }
}

.animate-ooiiaa-fast {
  animation: ooiiaa-spin-fast 1.8s cubic-bezier(0.32, 0, 0.68, 1);
}

/* OOIIAA Fast */
@keyframes ooiiaa-spin-slow {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(2turn);
  }
}

.animate-ooiiaa-slow {
  animation: ooiiaa-spin-slow 2.2s linear;
}

/* Chipi animation */

@keyframes chipiStart {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-10deg);
    translate: -1rem 0;
  }
}

@keyframes chipiloop {
  0% {
    transform: rotate(-10deg);
    translate: -1rem 0;
  }
  15% {
    transform: rotate(-10deg);
    translate: -1rem 0;
  }
  50% {
    transform: rotate(10deg);
    translate: 1rem 0;
  }
  65% {
    transform: rotate(10deg);
    translate: 1rem 0;
  }
  100% {
    transform: rotate(-10deg);
    translate: -1rem 0;
  }
}

.animate-chipi-loop {
  animation: 
    chipiStart 0.20s ease forwards,
    chipiloop 0.79s 0.20s ease infinite;
}
